.coinpage {
  /* background-color: rgb(54, 82, 73); */
  /* border: 1px solid red; */
  padding: 10px;
}

.coinpage_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* border: 1px solid green; */
  margin-bottom: 40px;
  padding: 0 0 40px 0;
}

.coinpage_description {
  /* text-align: justify; */
}
.coinpage_marketdata {
}

@media screen and (min-width: 700px) {
  .coinpage {
    border: 1px solid white;
    margin: 10px;
    display: flex;
    /* height: 100%; */
  }
  .coinpage_sidebar {
    width: 40%;
  }
}
